{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
                <h1>{{user.username}}</h1>
                <h4>{{user.email}}</h4>
                <h4>{{user.first_name}}</h4>
                <h4>{{user.phone}}</h4>
        {% else%}
            <h1> Please login to view this page </h1>

        {% endif %}
    </div>
</body>
</html>