{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            {% for data in profile %}
                <h1>{{data.user}}</h1>
                <img src={{ data.profile_img.url }} height=100px width=100/>
                <p>{{data.bio}}</p>
                {{data.first_name}}
                {{data.second_name}}
                <p>{{data.Email}}</p>
                {% if data.phone %}
                    {{ data.phone}}
                {% else%}

                {% endif %}
            {% endfor %}
        {% else%}
            <h1> Please login to view this page </h1>

        {% endif %}
    </div>
</body>
</html>